<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
<style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
	@font-face {
    font-family: digital-7;
    src: url(digital-7.ttf);
}
  </style>
</head>
<body style="font-family:digital-7" ng-app="myapp" ng-controller="myctrl">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <h1 style="text-align:center;color:white;">Angular Js Timer</h1>
    </div>
  </div>
</nav>

<div class="container-fluid text-center">
  <div class="row content">
    <div class="col-sm-2 sidenav">

    </div>
    <div class="col-sm-8 text-left">
      <br>

      	<table style="font-size:25px;width:700px;margin:auto;text-align:center">
    <thead>
      <tr>
        <td>Hour</td>
        <td>Minute</td>
        <td>Second</td>
      </tr>
    </thead>
    <tbody >
    <tr >
    <td><button id="hrpls" class="btn btn-primary btn-lg"  ng-click="hour('+')" >+</button>
      <br/><br/>
      <span>{{h}}</span>
      <br/><br/>
      <button id="hrmins" class="btn btn-primary btn-lg"  ng-click="hour('-')">-</button></td>
    <td><button id="mnpls" class="btn btn-primary btn-lg"  ng-click="min('+')">+</button>
      <br /><br/>
      <span>{{m}}</span>
      <br/><br/>
      <button id="mnmins" class="btn btn-primary btn-lg"  ng-click="min('-')">-</button></td>
    <td><button id="scpls" class="btn btn-primary btn-lg"  ng-click="sec('+')">+</button>
      <br/><br/>
      <span>{{s}}</span>
      <br/><br/>
      <button id="scmins" class="btn btn-primary btn-lg"  ng-click="sec('-')">-</button></td>
    </tr>
    <tr>
      <td>
        <br><button type="button" id="strt" class="btn btn-primary btn-lg"  ng-click="startTime()" >Start</button>
      </td>
      <td>
        <br><button type="button" id="reset" class="btn btn-primary btn-lg"  ng-click="reload1()" >Reset</button>
      </td>
    </tr>

    </tbody>
  </table>
      	<br>
    </div>
    <div class="col-sm-2 sidenav">

    </div>
  </div>
</div>

<script>
var app=angular.module('myapp',[]);
app.controller('myctrl',function($scope,$interval,$window){
	$scope.ms=0,$scope.s=0,$scope.m=0,$scope.h=0,$scope.dis1=false,$scope.dis2=true,$scope.dis3=true,$scope.dis4=true;
	var timer=null,tp_ms=0,tp_s=0,tp_h=0,tp_m=0,id=1;
	$scope.lp=[];
	$scope.startTime=function(){
        $scope.dis1=true,$scope.dis2=false,$scope.dis3=false,$scope.dis4=false;


        timer=$interval(function(){$scope.startTime1();},1000);



		}

		$scope.startTime1=function(){


      if($scope.h==0&&$scope.m==0&&$scope.s==0)
      {
        $interval.cancel(timer);
        return;
      }

        if($scope.h>0)
        {
          if($scope.m==0&&$scope.s==0)
          {
            $scope.h--;
            $scope.m=59;
            $scope.s=60;
          }


        }
        if($scope.m>0&&$scope.s==0)
        {
          $scope.m--;
          $scope.s=60;
        }
        if($scope.s==0)
        {
          $scope.m--;
        }
        if($scope.m==0)
        if($scope.m>$scope.s)
        {
        {
          $scope.h--;

        }
      }



        $scope.s--;




		}

    $scope.hour=function(x){

      if(x=='+')
        {

          $scope.h++;
        }
      else {
        if($scope.h>0)
        {
          $scope.h--;
        }

      }

    }

    $scope.sec=function(x){

      if(x=='+')
        {
          $scope.s++;
        }
      else {
        if($scope.s>0)
        {
          $scope.s--;
        }

      }

    }

    $scope.min=function(x){

      if(x=='+')
        {
          $scope.m++;
        }
      else {
        if($scope.m>0)
        {
          $scope.m--;
        }

      }

    }

		$scope.stopTime=function(){
			$interval.cancel(timer);
			$scope.dis1=false
			$scope.dis3=true
			}



		$scope.reload1=function(){

			$window.location.reload();
			}


	});
</script>


<footer class="container-fluid text-center">
  <p>Thank You</p>
</footer>

</body>

<!-- Mirrored from www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Nov 2016 18:08:53 GMT -->
</html>
