<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="bootstrap.min.css">
  <script src="jquery.min.js"></script>
  <script src="bootstrap.min.js"></script>
  <script src="angular.min.js"></script>
<style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}

    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 100%;
    }

    /* Set black background color, white text and some padding */
    footer {
      background-color: #555;
      color: white;
      padding: 15px;
    }

    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
	@font-face {
    font-family: digital-7;
    src: url(digital-7.ttf);
}
  </style>
</head>
<body style="font-family:digital-7;height:700px;" ng-app="myapp" ng-controller="myctrl">

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <h1 style="text-align:center;color:white;">Angular Js Timer</h1>
    </div>
  </div>
</nav>

<div class="container-fluid text-center" style="height:700px;">
  <div class="row content">

    <div class="col-sm-8 text-left">
      <br>
      <div id="start" style="text-align:center;font-size: 60px;">
      	{{h}}:{{m}}:{{s}}:{{ms}}
		</div>
        <br>
        <div id="button" style="text-align:center;">
        <button type="button" id="strt" class="btn btn-primary btn-lg"  ng-click="startTime()" ng-disabled="dis1" >Start</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="stp" class="btn btn-primary btn-lg" ng-click="stopTime()" ng-disabled="dis2" >Stop</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="lap" class="btn btn-primary btn-lg" ng-click="lap()" ng-disabled="dis3" >Lap</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button type="button" id="reset" class="btn btn-primary btn-lg" ng-click="reload1()" ng-disabled="dis4" >Reset</button>
        <button type="button" id="save" class="btn btn-primary btn-lg" ng-click="save_file()" ng-disabled="dis5" >Save</button>
        <button type="button" id="show" class="btn btn-primary btn-lg" ng-click="show_file()" ng-disabled="dis6" >Show</button>

        </div>
      	<br>
      	<table class="table table-bordered" style="font-size:25px;width:700px;margin:auto;text-align:center">
    <thead>
      <tr>
        <th>Lap No</th>
        <th>Lap Time</th>
        <th>Lap Time Diff</th>
      </tr>
    </thead>
    <tbody >
    <tr ng-repeat="x in lp">
    <td>{{x.ID}}</td>
    <td>{{x.hour}}:{{x.mint}}:{{x.sec}}:{{x.msec}}</td>
    <td>{{x.dif_h}}:{{x.dif_m}}:{{x.dif_s}}:{{x.dif_ms}}</td>
    </tr>

    </tbody>
  </table>
      	<br>
    </div>
    <div class="col-sm-4 sidenav" style="height:600px;overflow: scroll;">
      <table class="table table-bordered" style="font-size:25px;width:100%;margin:auto;text-align:center">
        <thead>
          <tr>
            <th>Hour</th>
            <th>Minute</th>
            <th>Second</th>
          </tr>
        </thead>
        <tbody >
          <tr ng-repeat="y in myData">
            <td>{{y.hour}}</td>
            <td>{{y.minute}}</td>
            <td>{{y.second}}</td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>
</div>

<script>
var app=angular.module('myapp',[]);
app.controller('myctrl',function($scope,$interval,$window,$http){
	$scope.ms=0,$scope.s=0,$scope.m=0,$scope.h=0,$scope.dis1=false,$scope.dis2=true,$scope.dis3=true,$scope.dis4=true,$scope.dis5=true;
	var timer=null,tp_ms=0,tp_s=0,tp_h=0,tp_m=0,id=1;
	$scope.lp=[];
  $scope.myData=[];
	$scope.startTime=function(){


        $scope.dis1=true,$scope.dis2=false,$scope.dis3=false,$scope.dis4=false,$scope.dis5=false;




		timer=$interval(function(){$scope.startTime1();},100);



		}

		$scope.startTime1=function(){

			$scope.ms++;
		if($scope.ms>=10)
		{

			$scope.s++;
			$scope.ms=0;
		}
		if($scope.s>=60)
		{
			$scope.m++;
			$scope.s=0;
		}
		if($scope.m>=60)
		{
			$scope.h++;
			$scope.m=0;
		}

		}

		$scope.stopTime=function(){
			$interval.cancel(timer);
			$scope.dis1=false
			$scope.dis3=true
			}

		$scope.lap=function(){

			var temp_ms=$scope.ms;
			var temp_s=$scope.s;
			var temp_m=$scope.m;
			var temp_h=$scope.h;


			if(tp_ms>temp_ms)
			{
				tp_ms=tp_ms-temp_ms;
				tp_ms=10-tp_ms;
				temp_s=temp_s-1;
			}
			else
			{
				tp_ms=temp_ms-tp_ms;
			}
			if(tp_s>temp_s)
			{
				tp_s=tp_s-temp_s;
				tp_s=60-tp_s;
				temp_m=temp_m-1;
			}
			else
			{
				tp_s=temp_s-tp_s;
			}
			if(tp_m>temp_m)
			{
				tp_m=tp_m-temp_m;
				tp_m=60-tp_m;
				temp_h=temp_h-1;
			}
			else
			{
				tp_m=temp_m-tp_m;
			}
			if(tp_h>temp_h)
			{
				tp_h=tp_h-temp_h;
				tp_h=24-tp_h;
			}
			else
			{
				tp_h=temp_h-tp_h;
			}


			$scope.lp.push({
				ID:id,
				hour:$scope.h,
				mint:$scope.m,
				sec:$scope.s,
				msec:$scope.ms,
				dif_h:tp_h,
				dif_m:tp_m,
				dif_s:tp_s,
				dif_ms:tp_ms
				});


			tp_ms=$scope.ms;
			tp_s=$scope.s;
			tp_h=$scope.h;
			tp_m=$scope.m;
			id++;

			}

		$scope.reload1=function(){

			$window.location.reload();
			}


     $scope.save_file=function(){

         content={hour:$scope.h,
                  minute:$scope.m,
                  second:$scope.s
                };
         console.log("executedd");
      //var json_content=[content];
         $http.post("/route1",content).success(function(response) {
             alert(response);
         });


    }

     $scope.show_file=function(){

       $http.get("/route2").success(function(response) {
           console.log(response);
           $scope.myData=response;
       });
     }


});
</script>


<footer class="container-fluid text-center">
  <p>Thank You</p>
</footer>

</body>

<!-- Mirrored from www.w3schools.com/bootstrap/tryit.asp?filename=trybs_temp_webpage&stacked=h by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 27 Nov 2016 18:08:53 GMT -->
</html>
